.dropdown {
  padding: 5px;
  border-radius: 5px;
  width: 210px;
  text-align: left;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}



/* .triangleDown {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%)
} */