* {
  font-weight: normal;
  text-align: center;
  outline: none;
}

.boxStyle {
  width: 100vw;
  border-bottom: 3px solid #f7d54c;
  align-items: center;
  line-height: 1.6em;
  position: absolute;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

 .latest {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5px 30px;
  background-color: #395060;
  text-align: center;
} 

h4 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 14px;
}

h5 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 0 15px;
}

h5:before {
  content: "|";
  padding-right: 25px;
}

.borderColor {
  border: 1px solid red;
}

 .news {
  width: 0;
  flex: 1;
  background-color: #4d6c81;
  opacity: 0.8;
  max-height: 26px;
}

.slick-slide{
  height: auto;
}

.slick-track{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

@media screen and (max-width: 500px) {
  .latest{
  display:none;
  }
}