.search {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  width: 210px;
  height: 30px;
  text-align: left;
  }

input {
  position: relative;
}
  
.searchButton {
  position: absolute;
  opacity: 0.7;
  width: 40px;
  height: 28px;
  z-index: 21031231232321;
  bottom: 11px;
  left: 179px;
  border: 0;
  border-radius: 0 5px 5px 0px;
}

.searchButton:active {
  opacity: 0.5;
}