.search {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  width: 210px;
  height: 30px;
  text-align: left;
  }
  